#memberInfo{
    color: #4d79ff;
}

// 账号
.userInfo{
    display: flex;
    width: 100vw;
    height: 90px;
    padding: 20px 0 10px 10px;
    @include webkit(box-sizing,border-box);

    img{
        width: 60px;
        height: 60px;
        @include webkit(object-fit,contain);
        cursor: pointer;
        border-radius: 100%;
    }
    .countNumber{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        vertical-align:middle;
        // padding: 10px 0 10px 10px;
        @include webkit(box-sizing,border-box);
        margin-left: 10px;
        .pointStyle{
           cursor: pointer; 
           text-align: center;
        }
    }
}
.linkPath{
    display: flex;
    flex-direction: column;
    // justify-content: center ;
}
.linkPath a{
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding-left:20px ;
}
.icon{
    margin-right: 10px;
}